// .cursor,
// .cursor_content {
//   pointer-events: none;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   opacity: 1;
//   z-index: 10000;
// }

.cursor {
  width: 8px;
  height: 8px;
  background-color: rgb(239, 105, 15);
  border-radius: 50%;
}

.cursor_content {
  background-color: rgba(255, 255, 255, 0.84);
  padding: 0.3em;
  width: max-content;
  color: rgb(0, 0, 0);
}

//Mobile styles
@media (max-width: var(--mobile)), (orientation: portrait) {
  .cursor_content {
    display: none;
  }
}
