.footer {
  // background-color: lightcoral;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: var(--nav_padding);
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: difference;
  z-index: 1000;
}

.footer_item {
  // background-color: lightgreen;
  white-space: nowrap;
  width: calc(25% - 1em);
  min-width: max-content;
}

//Mobile styles
@media (max-width: var(--mobile)), (orientation: portrait) {
  .footer_item {
    width: calc(50% - 1em);
    margin-top: 0.3rem;
  }

  .right_align {
    text-align: right;
  }
}
