:global {
  .app_wrapper_info {
    .grid_wrapper {
      filter: blur(20px);
      opacity: 0.5;
    }
    :local .background_white,
    :local .background_photo,
    :local .background_black {
      background-color: rgb(255, 255, 255);
    }
  }

  .flipping {
    pointer-events: none;
  }
}

.grid_wrapper {
  //This transition is for fade in of info. Remove if causes issues with gsap animations
  transition: filter 0.75s ease-in-out, opacity 0.75s ease-in-out;
  background-color: rgba(255, 60, 0, 0);
  position: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  // width: 100%;
  padding: 2rem var(--nav_padding);
  grid-gap: 2em;
  overflow-y: scroll;
  z-index: 4;
}

.grid_image_wrapper {
  width: 100%;
  height: max-content;
  z-index: 3;
  will-change: transform;
  cursor: pointer;
}

.grid_bg_image_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background ease-in-out 0.75s;
  z-index: 2;
  pointer-events: none;
}

.background_white {
  background: rgb(255, 255, 255);
}

.background_black {
  background: rgb(1, 1, 1);
}

.background_photo {
  background: none;
}

//Mobile styles
@media (max-width: var(--mobile)), (orientation: portrait) {
  .grid_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3.5rem var(--nav_padding);
    grid-gap: var(--nav_padding);
  }
}
