.header {
  // background-color: lightcoral;
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--nav_padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 1000;
  mix-blend-mode: difference;
}

.header_item {
  white-space: nowrap;
  width: calc(25% - 1em);
  min-width: max-content;
}

//Mobile styles
@media (max-width: var(--mobile)), (orientation: portrait) {
  .header_item {
    width: calc(50% - 1em);
    margin-bottom: 0.3rem;
  }

  .right_align {
    text-align: right;
  }
}
