.info_wrapper {
  // background-color: antiquewhite;
  color: rgb(0, 0, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  padding: var(--nav_padding);
  padding-top: 2.4em;
  overflow-y: scroll;
  z-index: 10;
  & ul {
    padding: 0;
  }
}

.image_detail_wrapper,
.about_wrapper {
  // background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  // This width and height is added with padding because it is absolute positioned and needs this to line up with header and footer
  width: calc(100% - (var(--nav_padding) * 2));
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2em;
  opacity: 0;
  pointer-events: none;
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.image_detail_wrapper {
  top: 50%;
  transform: translateY(-50%);
  // width: calc(100% - (var(--nav_padding) * 2));
}

.info_item {
  width: calc(25% - 1em);
}

.info_heading {
  margin-bottom: 1em;
}

.about {
  max-width: 25em;
  p {
    margin-bottom: 0;
  }
}

.contact_info {
  display: flex;
  flex-direction: column;
}

//Mobile styles
@media (max-width: var(--mobile)), (orientation: portrait) {
  .info_wrapper {
    background-color: white;
    height: 100%;
    padding-top: var(--nav_padding);
    z-index: 99999;
  }

  .image_detail_wrapper,
  .about_wrapper {
    // changing display is so that image details doesn't scroll because about section is overflowing
    display: none;
    &.visible {
      display: flex;
    }
  }

  .image_detail_wrapper {
    // background-color: palegreen;
    height: calc(100% - (var(--nav_padding) * 2));
    & .close_button {
      top: 0;
      right: 0;
    }
  }

  .info_item {
    width: 100%;
  }

  .about {
    max-width: 100%;
  }

  .close_button {
    position: fixed;
    width: max-content;
    top: var(--nav_padding);
    right: var(--nav_padding);
  }
}
