:global {
  .flipping {
    pointer-events: none;
  }
}

.slides_wrapper {
  // background-color: brown;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &.zoomed {
    z-index: 10000;
  }
}

//react transtion test
.slides_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slide_wrapper {
  // background-color: lightblue;
  position: absolute;
}

.buttons {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.button {
  height: 100%;
  width: 50%;
  // cursor: none;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  transition: background ease-in-out 0.75s;
}

.background_white {
  background: rgb(255, 255, 255);
}

.background_black {
  background: rgb(1, 1, 1);
}

.background_photo {
  background: none;
}
