:global {
  .app_wrapper_info {
    .slides_wrapper {
      filter: blur(20px);
      opacity: 0.5;
    }
    :local .background_white,
    :local .background_photo,
    :local .background_black {
      background-color: rgb(255, 255, 255);
    }
  }

  .flipping {
    pointer-events: none;
  }
}

.slides_wrapper {
  //This transition is for fade in of info. Remove if causes issues with gsap animations
  transition: filter 0.75s ease-in-out, opacity 0.75s ease-in-out;
  // background-color: brown;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &.zoomed {
    z-index: 10000;
  }
}

//react transtion test
.slides_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slide_wrapper {
  // background-color: lightblue;
  position: absolute;
}

.buttons {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.button {
  height: 100%;
  width: 50%;
  // cursor: none;
}

.next_button {
  cursor: e-resize;
}

.prev_button {
  cursor: w-resize;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  transition: background ease-in-out 0.75s;
}

.background_white {
  background: rgb(255, 255, 255);
}

.background_black {
  background: rgb(1, 1, 1);
}

.background_photo {
  background: none;
}

//Mobile styles
@media (max-width: var(--mobile)), (orientation: portrait) {
  .slide_wrapper {
    pointer-events: none;
  }
}
