@font-face {
  font-family: "Quadrant-Mono";
  src: url("../../fonts/QuadrantTextMono-Regular.woff") format("woff");
  src: url("../../fonts/QuadrantTextMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--blackFont);
  color: white;
}

html {
  font-family: "Quadrant-Mono", "Courier New", Courier, monospace;
  font-size: var(--fontSize);
  color: var(--blackFont);
}
